.awesome {
    margin: 0 auto;
    width: 1170px;
}

.awesome__title {
    height: 150px;
    text-align: center;
    line-height: 150px;
    margin: 0px 0px 40px;
}

.awesome__title-text {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.awesome__title-line {
    width: 170px;
    height: 3px;
    color: #EC7979;
    background-color: #EC7979;
    margin: 0 auto;
}

.awesome__description {
    margin: 0 0 110px;
    font-size: 18px;
    color: #86878B;
    padding: 1px;
    text-align: center;
}

.awesome__items {
    margin: 0 0 58px;
    /* display: flex;
    justify-content: space-between; */
}

.awesome__items-item {
    text-align: center;
    width: 390px;
    display: inline-block;
}

.awesome__items-img-container {
    height: 92px;
    width: 92px;
    border: 1px solid #EC7979;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto 39px;
}

.awesome__items-img-container_bulb {
    padding-top: 7px;
}

.awesome__items-img-container_keyboard {
    padding-top: 22px;
}

.awesome__items-img-container_thunder {
    padding: 13px 0 0 5px;
}

.awesome__items-title {
    margin: 0 0 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    height: 100px;
    line-height: 100px;
}

.awesome__items-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    padding: 0 15px;
}
