* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

body {
    overflow: scroll;
    background-color: #fff;
    text-align: center;
}

.contact {
    padding: 50px;
}

.contact__title {
    height: 150px;
    font-size: 36px;
    font-weight: 400;
    line-height: 150px;
    text-transform: uppercase;
}

.contact__line {
}
.contact__text {
}
.contact__form {
}
.contact__form-left {
}
.contact__form-name {
}
.contact__form-email {
}
.contact__form-password {
}
.contact__form-message {
}
.contact__form-button {
}
.contact__social {
    background-color: rgba(0, 0, 0, 1);

}
.contact__social-box {
}
.contact__social-img {
}
.contact__social-text {
}

