.download {
    background-image: url(../pictures/download.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.download__blackout {
    background: rgba(0, 0, 0, 0.5);
}

.download__container {
    width: 1170px;
    margin: 0 auto;
    padding: 50px 0;
    transition: .5s;
}

.download__title {
    height: 150px;
    font-size: 36px;
    font-weight: 400;
    line-height: 150px;
    color: rgba(255, 255, 255, 1);
}

.download__line {
    border: 0;
    height: 1px;
    width: 170px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

.download__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px; 
    color: rgba(255, 255, 255, 1);
    margin-bottom: 73px;
}

.download__button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 58px;
    height: 58px;
    width: 370px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    color:rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: .2s;
}

.download__button:hover {
    border: 2px solid rgba(236, 121, 121, 1);
    color: rgba(236, 121, 121, 1);
    transition: .2s;
}

.download__button:active {
    border: 2px solid rgba(171, 73, 73, 1);
    background: rgba(171, 73, 73, 1);
    color: #fff;
    transition: .2s;
}

@media screen and (max-width: 1230px) {

    .download__container {
        width: 968px;
        transition: .5s;
    }
    
    .download__title {
        height: 120px;
        font-size: 24px;
        line-height: 120px;
    }
    
    .download__line {
        width: 142px;
        margin-bottom: 32px;
    }
    
    .download__text {
        font-size: 14px;
        line-height: 16.44px; 
        margin-bottom: 32px;
    }
    
    .download__button {
        height: 58px;
        width: 318px;
    }
    
}

@media screen and (max-width: 1033px) {
    
    .download__container {
        width: 100%;
        margin: 0 auto;
        padding: 0 12px 58px;
        transition: .5s;
    }
    
    .download__title {
        font-size: 24px;
    }
    
    .download__line {
        width: 134px;
        margin-bottom: 16px;
    }
    
    .download__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.44px; 
        margin-bottom: 66px;
    }
    
    .download__button {
        line-height: 50px;
        height: 50px;
        width: 287px;
    }
}

