.pricing {
    background: rgba(245, 245, 245, 1);
    width: 100%;
    padding: 50px 0 1px;
}

.pricing__container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    transition: 0.5s;
}

.pricing__title {
    height: 150px;
    line-height: 150px;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.pricing__line {
    border: 0px solid rgba(236, 121, 121, 1);
    background-color: rgba(236, 121, 121, 1);
    height: 1px;
    width: 170px;
    margin: 0 auto 40px;
}

.pricing__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(134, 135, 139, 1);
    margin-bottom: 79px;
}

.pricing__board {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 530px;
    align-items: flex-end;
}

.pricing__item {
    width: 370px;
    height: 510px;
    transition: 0.5s;
}

.pricing__item:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(139, 139, 139);
    margin-bottom: 20px;
    transition: 0.5s;
}

.pricing__item-title {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    height: 60px;
    background: linear-gradient(0deg, #333333, #333333);
    line-height: 60px;
    border: 2px solid rgba(245, 245, 245, 1);
}

.pricing__item-price {
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    font-weight: 700;
    height: 100px;
    background: linear-gradient(0deg, #333333, #333333);
    line-height: 100px;
    border: 2px solid rgba(245, 245, 245, 1);
}

.pricing__item-caption {
    border: 2px solid rgba(245, 245, 245, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
    height: 50px;
    background: linear-gradient(0deg, #333333, #333333);
}

.pricing__item-text {
    border: 2px solid rgba(245, 245, 245, 1);
    text-transform: capitalize;
    height: 50px;
    background: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: rgba(134, 135, 139, 1);
}

@media screen and (max-width: 1230px) {
    
    .pricing__container {
        width: 968px;
        transition: 0.5s;
    }
    
    .pricing__title {
        height: 120px;
        line-height: 120px;
        font-size: 24px;
    }
    
    .pricing__line {
        width: 143px;
        margin: 0 auto 32px;
    }
    
    .pricing__text {
        font-size: 14px;
        line-height: 16.44px;
        margin-bottom: 50px;
    }
    
    .pricing__board {
        margin-bottom: 50px;
        height: 450px;
    }
    
    .pricing__item {
        width: 318px;
        height: 450px;
        transition: 0.5s;
    }
    
    .pricing__item-title {
        height: 53.21px;
        line-height: 53.21px;
    }
    
    .pricing__item-price {
        height: 88.68px;
        line-height: 88.68px;
    }
    
    .pricing__item-caption {
        line-height: 44.34px;
        height: 44.34px;
    }
    
    .pricing__item-text {
        line-height: 44.34px;
        height: 44.34px;
    }

}

@media screen and (max-width: 1033px) {
    
    .pricing {
        padding: 0 0 1px;
    }
    
    .pricing__container {
        width: 100%;
    }
    
    .pricing__line {
        width: 134px;
        margin: 0 auto 24px;
    }
    
    .pricing__text {
        margin-bottom: 0;
    }
    
    .pricing__board {
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 26px;
    }

    .pricing__item-container {
        height: 425px;
        display: flex;
        align-items: flex-end;
        margin: 0 5px;
    }
    
    .pricing__item {
        width: 288px;
        height: auto;
        transition: 0.5s;
    }
    
    .pricing__item-title {
        font-size: 18px;
        height: 47px;
        line-height: 47px;
    }
    
    .pricing__item-price {
        font-size: 24px;
        height: 78px;
        line-height: 78px;
    }
    
    .pricing__item-caption {
        font-size: 14px;
        line-height: 39px;
        height: 39px;
    }
    
    .pricing__item-text {
        height: 39px;
        font-size: 14px;
        line-height: 39px;
    }    

}

