* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

body {
    overflow: scroll;
    background-color: #fff;
}

.start {
    margin: 0 auto;
}

.start__bgi {
    background-image: url(../pictures/start.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.start__menu {
    width: 100%;
    height: 75px;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    line-height: 75px;
}

.start__menu-logo {
    line-height: 75px;
}

.start__menu-logo-img {
    height: 31px;
    margin: 22px 245px 0 115px;
}

.start__menu-btn {
    display: none;
}

.start__menu-items {
    display: flex;
    justify-content: center;
    margin-right: 170px;
}

.start__menu-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    width: 113px;
}

.start__border {
    padding: 0 20px;
}

.start__blackout {
    background: rgba(0, 0, 0, 0.5);
    height: 1026px;
    transition: .5s;
}

.start__content {
    max-width: 1170px;
    margin: 207px auto 0;
    display: flex;
    justify-content: space-between;
}

.start__content-left {
    width: 680px;
    text-align: left;
    margin-right: 36px;
}

.start__content-logo-img {
    height: 55px;
    margin-bottom: 73px;
}

.start__content-title {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 55px;
    color:rgba(255, 255, 255, 1);
}

.start__content-line {
    width: 170px;
    margin-bottom: 42px;
}

.start__content-text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 42px;
    color:rgba(255, 255, 255, 1);
    width: 270px;
}

.start__content-btn {
    width: 270px;
    height: 58px;
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 185px;
    cursor: pointer;
}

.start__form {
    max-width: 470px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    transition: .5s;
}

.start__form-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);
    width: 370px;
    height: 90px;
    margin: 0 auto 45px;
    line-height: 90px;
}

.start__form-title > span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(236, 121, 121, 1);
}

.start__input-container {
    padding: 0 50px;
}

.start__form-input {
    width: 100%;
    padding: 16px 0;
    text-align: left;
    border: 0;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(189, 189, 189, 1);
}

.start__form-btn {
    width: 100%;
    height: 60px;
    background: rgba(236, 121, 121, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 0 0 10px 10px;
    margin-top: 75px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.start__socialmedia-container {
    background: rgba(248, 239, 239, 1);
}

.start__socialmedia {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.start__socialmedia-left {
    width: 470px;
    margin-right: 50px;
}

.start__socialmedia-title {
    height: 60px;
    line-height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 18px;
    color: rgba(51, 51, 51, 1);
}

.start__socialmedia-text {
    height: 42px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 18px;
    color: rgba(134, 135, 139, 1);
}

.start__socialmedia-icons {
    display: flex;
    justify-content: space-between;
    height: 57px;
    width: auto;
    margin: auto 0;
}

.start__socialmedia-icon {
    height: 100%;
    margin: 0 22px;
}

@media screen and (max-width: 1230px) {

    .start__blackout {
        height: 768px;
        transition: .5s;
    }

    .start__content-logo-img {
        height: 41.17px;
        margin-bottom: 54px;
    }

    .start__content {
        width: 968px;
    }

    .start__content-left {
        margin-left: 75px;
        width: 454px;
    }

    .start__form {
        max-width: 398px;
        transition: .5s;
    }

    .start__content-title {
        margin-bottom: 41.49px;
        font-size: 36px;
    }

    .start__content-line {
        margin-bottom: 31px;
        width: 115.28px;
    }

    .start__content-text {
        margin-bottom: 31.32px;
        font-size: 14px;
        width: 184px;
    }

    .start__content-btn {
        width: 183px;
        height: 50px;
        margin-bottom: 132px;
    }

    .start__socialmedia {
        width: 968px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .start__socialmedia-title {
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        margin-bottom: 13px;
    }
    
    .start__socialmedia-text {
        height: 32px;
        width: 402px;
        font-size: 14px;
        margin-bottom: 13px;
    }

    .start__socialmedia-icons {
        height: 45px;
    }

    .start__socialmedia-icon {
        margin: 0 15px;
    }

    .start__form-title {
        font-size: 18px;
    }
    
    .start__form-title > span {
        font-size: 18px;
    }

}

@media screen and (max-width: 1033px) {

    .start__bgi {
        background-size: cover;
        background-position: top;
    }

    .start__menu {
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .start__menu-logo {
        line-height: 0;
    }
    
    .start__menu-logo-img {
        height: 23px;
        margin: 0 0 0 20px;
    }
    
    .start__menu-btn {
        display: none;
    }
    
    .start__menu-items {
        display: none;
        justify-content: center;
        margin-right: 170px;
    }
    
    .start__menu-item {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        width: 113px;
    }
    
    .start__border {
        padding: 0 12px;
    }
    
    .start__blackout {
        height: 1005px;
        transition: .5s;
    }
    
    .start__content {
        max-width: 100%;
        margin: 84px auto 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .start__content-left {
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .start__content-logo {
        display: none;
    }
    
    .start__content-logo-img {
        height: 55px;
        margin-bottom: 73px;
    }
    
    .start__content-title {
        margin-bottom: 44px;
        width: 100%;
    }
    
    .start__content-line {
        margin: 0 auto 42px;
    }
    
    .start__content-text {
        margin-bottom: 42px;
        width: 100%;
    }
    
    .start__content-btn {
        width: 288px;
        height: 50px;
        margin-bottom: 56px;
    }
    
    .start__form {
        max-width: 398px;
        min-width: 288px;
        margin: 0 auto;
        transition: .5s;
    }
    
    .start__form-title {
        font-size: 14px;
        height: 90px;
        margin: 0 auto;
        line-height: 90px;
        width: 240px;
    }
    
    .start__form-title > span {
        font-size: 14px;
    }
    
    .start__input-container {
        padding: 0 50px;
    }
    
    .start__form-btn {
        margin-top: 50px;
    }
    
    .start__socialmedia-container {
        padding: 31px 12px 46px;
    }
    
    .start__socialmedia {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .start__socialmedia-left {
        width: 100%;
        margin-right: 0;
    }
    
    .start__socialmedia-title {
        height: 45px;
        line-height: 45px;
        margin-bottom: 13px;
    }
    
    .start__socialmedia-text {
        font-size: 14px;
        margin-bottom: 18px;
        width: 100%;
        height: 100%;
    }
    
    .start__socialmedia-icons {
        height: 24px;
        justify-content: space-evenly;
    }
    
    .start__socialmedia-icon {
        height: 100%;
        margin: 5px;
    }
    
}
