* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

body {
    overflow: scroll;
    background-color: #fff;
}

/* start */

.start {
    margin: 0 auto;
    
}

.start__bgi {
    background-image: url(/pictures/start.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.start__menu {
    width: 100vw;
    height: 75px;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    line-height: 75px;
}

.start__menu-logo {
    line-height: 75px;
}

.start__menu-logo-img {
    height: 31px;
    margin: 22px 0 0 115px;
}

.start__menu-items {
    display: flex;
    justify-content: center;
    margin-right: 170px;
}

.start__menu-item p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    width: 113px;
    text-align: center;
}

.start__blackout {
    background: rgba(0, 0, 0, 0.5);
}

.start__content {
    width: 1170px;
    margin: 207px auto 0;
    display: flex;
    justify-content: space-between;
}

.start__content-left {
    width: 680px;
}
.start__content-logo {
}

.start__content-logo-img {
    height: 55px;
    margin-bottom: 73px;
}

.start__content-title {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 55px;
    color:rgba(255, 255, 255, 1);
}

.start__content-line {
    width: 170px;
    margin-bottom: 42px;
}

.start__content-text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 42px;
    color:rgba(255, 255, 255, 1);
}

.start__content-btn {
    width: 270px;
    height: 58px;
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 185px;
    cursor: pointer;
}

.start__formbox {
    
}

.start__form {
    width: 470px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    text-align: center;
}

.start__form-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);
    width: 370px;
    height: 90px;
    margin: 0 auto 45px;
    line-height: 90px;
}

.start__form-title > span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(236, 121, 121, 1);
}

.start__form-input {
    width: 370px;
    padding: 16px 0;
    text-align: left;
    border: 0;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(189, 189, 189, 1);
}

.start__form-btn {
    width: 470px;
    height: 60px;
    background: rgba(236, 121, 121, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 0 0 10px 10px;
    margin-top: 75px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.start__socialmedia-container {
    background: rgba(248, 239, 239, 1);
    height: 140px;
}

.start__socialmedia {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.start__socialmedia-left {
    width: 470px;
    margin-right: 50px;
}

.start__socialmedia-title {
    height: 60px;
    line-height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 18px;
    color: rgba(51, 51, 51, 1);
}

.start__socialmedia-text {
    height: 42px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 18px;
    color: rgba(134, 135, 139, 1);
}

.start__socialmedia-icons {
    display: flex;
    justify-content: space-between;
    height: 57px;
    width: 650px;
    margin: auto 0;
}

.start__socialmedia-icon-box {

}

.start__socialmedia-icon {
    height: 100%;

}


/* tabs */

.tabs {
    position: relative;
    margin: 100px auto 50px;
    width: 1170px;
}

.tabs__head {
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: left;
    top: -39px;
    position: absolute;
    background-color: #fff;
}
.tabs__head-item {
    height: 40px;
    width: 203px;
    border: 1px solid rgba(198, 203, 205, 1);
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    text-align: center;
    line-height: 40px;
    margin: 0px;
}

.hide-border-bottom {
    border: 0;
    border-bottom: 1px solid rgba(198, 203, 205, 1);
}
.tabs__content {
    height: 501px;
    border: 1px solid rgba(198, 203, 205, 1);
    display: flex;
    justify-content: space-between;
}
.tabs__left-column {
    margin: 0 30px 50px 100px;
}
.tabs__left-column-title {
    height: 124px;
    width: 570px;
    line-height: 124px;
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 27px;
}
.tabs__left-column-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 27px;
}
.tabs__left-column-btn {
    width: 270px;
    height: 58px;
    background: rgba(236, 121, 121, 1);
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    border: 0;
    margin-bottom: 54px;
}
.tabs__right-column {
}
.tabs__tight-img {
}

/* awesome */

.awesome {
    margin: 0 auto;
    width: 1170px;
}

.awesome__title {
    height: 150px;
    text-align: center;
    line-height: 150px;
    margin: 0px 0px 40px;
}

.awesome__title-text {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.awesome__title-line {
    width: 170px;
    height: 3px;
    color: #EC7979;
    background-color: #EC7979;
    margin: 0 auto;
}

.awesome__description {
    margin: 0 0 110px;
    font-size: 18px;
    color: #86878B;
    padding: 1px;
    text-align: center;
}

.awesome__items {
    margin: 0 0 58px;
    /* display: flex;
    justify-content: space-between; */
}

.awesome__items-item {
    text-align: center;
    width: 390px;
    display: inline-block;
}

.awesome__items-img-container {
    height: 92px;
    width: 92px;
    border: 1px solid #EC7979;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto 39px;
}
.awesome__items-img-container_bulb {
    padding-top: 7px;
}

.awesome__items-img-container_keyboard {
    padding-top: 22px;
}

.awesome__items-img-container_thunder {
    padding: 13px 0 0 5px;
}

.awesome__items-title {
    margin: 0 0 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    height: 100px;
    line-height: 100px;
}

.awesome__items-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    padding: 0 15px;
}


/* pricing */

.pricing {
    background: rgba(245, 245, 245, 1);
    width: 100%;
    display: flex;
    justify-content: center;
}

.pricing__container {
    width: 1170px;
    text-align: center;
}
.pricing__title {
    height: 150px;
    line-height: 150px;
    font-size: 36px;
    font-weight: 400;
    line-height: 150px;
    text-transform: uppercase;
    margin-top: 50px;

}

.pricing__line {
    border: 0px solid rgba(236, 121, 121, 1);
    background-color: rgba(236, 121, 121, 1);
    height: 1px;
    width: 170px;
    margin: 0 auto 40px;
}

.pricing__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(134, 135, 139, 1);
    margin-bottom: 79px;
}

.pricing__board {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 530px;
    align-items: flex-end;
}

.pricing__item {
    width: 370px;
    height: 510px;
}

.pricing__item:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(139, 139, 139);
    margin-bottom: 20px;
}

.pricing__item-title {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    height: 60px;
    background: linear-gradient(0deg, #333333, #333333);
    line-height: 60px;
    border: 2px solid rgba(245, 245, 245, 1);
}

.pricing__item-price {
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    font-weight: 700;
    height: 100px;
    background: linear-gradient(0deg, #333333, #333333);
    line-height: 100px;
    border: 2px solid rgba(245, 245, 245, 1);
}

.pricing__item-caption {
    border: 2px solid rgba(245, 245, 245, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
    height: 50px;
    background: linear-gradient(0deg, #333333, #333333);
}

.pricing__item-text {
    border: 2px solid rgba(245, 245, 245, 1);
    text-transform: capitalize;
    height: 50px;
    background: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: rgba(134, 135, 139, 1);

}

